.slide_skeleton_container,
.slide_card_skeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img_skeleton {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}
.slide_products {
  min-height: 320px;
  overflow: hidden;
}

.text_skeleton {
  height: 20px;
  width: 80%;
  border-radius: 6px;
}

.text_skeleton.small {
  width: 50%;
}

.btn_skeleton {
  height: 30px;
  width: 60%;
  border-radius: 6px;
}

.title_skeleton {
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.sub_skeleton {
  width: 300px;
  height: 18px;
  border-radius: 6px;
}

/* نفس animation اللي عندك */
.skeltion {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );

  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
